@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --background: #0d0f10;
  --background-alt: #101314;
  --text: #d1cdc8;
  --accent: #371f96;
  --tile-border-radius: 10px;
  --tile-gap: 30px;
  --tile-blur: 10px;
  --tile-blur-hover: 2px;
  --tile-color: #13131387;
  --tile-color-hover: #1111119d;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
  min-height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('');
  background-position: center;
  backdrop-filter: blur(0px);
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  display: none;
}

h2 {
  font-size: 6rem;
  letter-spacing: 4px;
}

h3 {
  font-size: 2rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  min-height: 100dvh;
}

header {
  width: 100%;
  margin-top: -6dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8dvh;
}

#search {
  margin: 0;
  text-align: left;
  width: 100%;
  padding: 16px 20px;
  margin: var(--tile-gap) 0;
}

header .tile {
  padding: 16px;
}

.time {
  width: 28rem;
}

.tile {
  margin: 0;
  border-radius: var(--tile-border-radius);
  background-color: var(--tile-color);
  backdrop-filter: blur(var(--tile-blur));
  -webkit-backdrop-filter: blur(var(--tile-blur));
  border-top: 1px solid hsla(0, 0%, 100%, 0.145);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.tile:hover {
  background-color: var(--tile-color-hover);
  backdrop-filter: blur(var(--tile-blur-hover));
  -webkit-backdrop-filter: blur(var(--tile-blur-radius));
  transition: 0.3s;
}

.tiles {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: var(--tile-gap);
}

.tiles .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  padding: 10px;
  aspect-ratio: 1/1;
}

.tiles .tile:hover {
  cursor: pointer;
}

.tile a {
  width: 100%;
  height: 100%;
}

.tile img {
  aspect-ratio: 1/1;
  border-radius: var(--tile-border-radius);
}

#circle {
  width: 200px;
  height: 200px;
  background: var(--background);
  background: -moz-radial-gradient(center, #a1a1a188 0%, var(--background) 70%, var(--background) 100%);
  background: -webkit-radial-gradient(center, #a1a1a188 0%, var(--background) 70%, var(--background) 100%);
  background: radial-gradient(ellipse at center, #a1a1a188 0%, var(--background) 70%, var(--background) 100%);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;

  display: none;
}

@media screen and (max-width: 1080px) {
  #search {
    width: 100%;
  }

  .tiles {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw 10vh;
  }
}

@media screen and (max-width: 768px) {
  #search {
    width: 100%;
    padding: 16px;
  }

  .tiles {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--tile-gap);
  }
}
